name: Terraform Pipeline

on:
  push:
    branches: ["main"]
    paths:
      - "main.tf"    

  workflow_dispatch:        
    inputs:
      action:
        description: "Escolha a ação"
        required: true
        type: choice
        options:
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Apply (on push)
        if: ${{ github.event_name == 'push' }}
        run: terraform -chdir=terraform apply -auto-approve

      - name: Terraform Apply (on workflow dispatch)
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'apply' }}
        run: terraform -chdir=terraform apply -auto-approve

      - name: Terraform Destroy (on workflow dispatch)
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'destroy' }}
        run: terraform -chdir=terraform destroy -auto-approve
